<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IA</title>
    
    <%- include('./partials/head.html') %>
</head>
<body>
    <%- include('./partials/navbar.html') %>
    <div class="container p-5" >
        <div class="row">
            <label for="textArea">Ingresa los datos</label>
        </div>
        <div class="row">
            <div class="col-sm"><textarea id="textArea" cols="50" rows="20"></textarea></div>
            <div class="col-sm" >
                <a href="#table" >ir a la tabla</a>
                <button onclick="readImput()" style="align-self: center;">Siguiente</button>
            </div>
        </div>
    </div>

    <div class="container p-5" id="table">
        <table style="width: 100%; height: 100%;">
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
</body>
</html>
<%- include('./partials/Jsons.html') %>

<script>
    function clearTable(){
        while (tbody.hasChildNodes()){
            tbody.removeChild(tbody.lastChild);
        }
    }

    function readImput(){
        clearTable();
        var input = document.getElementById('textArea').value;
        var tbody = document.getElementById('tbody');
        var rows = 0;
        var cols = 0;
        var pos = 0;
        while(input[pos] != ' ' && pos<input.length){
            rows = parseInt(10*rows) + parseInt(input[pos]);
            pos++;
        }
        pos ++;
        while(input[pos] != '\n' && pos<input.length){
            cols = parseInt(10*cols) + parseInt(input[pos]);
            pos++;
        }
        pos++;

        var map = new Array(rows + 2);
        map[0] = new Array(cols +2);
        map[rows + 1] = new Array(cols +2);
        for(var i = 0; i< cols+2; i++ ){
            map[0][i] = new Node('-', -1, 0, i);
            map[rows + 1][i] = new Node('-', -1, rows + 1, i);
        }
        var started;
        var ending;

        for(var i=1; i <= rows; i += 1){
            var fila = "<tr>";
            
            map[i] = new Array(cols + 2);
            map[i][0] = new Node('-', -1, i, 0);

            for(var j = 1; j <= cols; j+=1){
                //add col
                var node = new Node(input[pos], pos, i, j);
                var c = input[pos];
                var typeClass;
                if(c == '*'){
                    typeClass ="camino";
                }else{
                    if(c == '-'){
                        typeClass ="obstaculo";
                    }else{
                        if(c == '#'){
                            started = node;
                            typeClass ="inicio";
                        }else{
                            if(c == '$'){
                                typeClass ="final";
                                ending = node;
                            }
                        }
                    }
                }
                map[i][j] = node;
                fila = fila.concat("<td class ='"+typeClass+"' id = '"+pos+"'>"+pos+"</td>");
                pos += 1;
            }
           
            map[i][cols+ 1] = new Node('-', -1, i, cols + 1);
            fila = fila.concat("</tr>");
            tbody.insertAdjacentHTML('beforeend', fila);
            //add row
            pos += 1;
        }

        var mMaze = new Maze(map, started, ending);
        mMaze.f(started);
        printPath(mMaze.ending.parent, rows, cols);
    }
    
    function printPath(nodo, rows, cols){
      //  console.log("length", path.length);
        while(nodo != null && nodo.c != '#'){
          //  console.log("move to: " , path[i]);
            console.log("parent: " , nodo.id);
            document.getElementById(nodo.id).style.backgroundColor = 'yellow';
            nodo = nodo.parent;
        }
    }
</script>