<script>
class Node{
    constructor(c, id, x, y){
        this.c = c;
        this.canMove =  c !='-' && c !='#';
        this.id = id;
        this.x = x;
        this.y = y;
        this.parent = null;
        this.childs = new Array();
    }
    isFin(){
        return this.c == '$';
    }
    addChild(child){
        this.childs.push(child);
        child.parent = this
    }
}

class Maze{        
    constructor(map, start, ending) {
        this.map = map;
        this.start = start;
        this.ending = ending;
        this.lista = new Array(start);
    }
    
    moverTop(node){
        return this.map[node.x-1][node.y];
    }
    moverBott(node){
        return this.map[node.x+1][node.y];
    }
    moverRigth(node){
        return this.map[node.x][node.y+1];
    }
    moverLefth(node){
        return this.map[node.x][node.y-1];
    }

    moveTo(node, nodePos){
        if(node.canMove){
            this.lista.push(node);
            node.canMove = false;
            nodePos.addChild(node);
        }
    }

    addNeighBords(){
        var nodePos = this.lista.pop();

        var node = this.moverBott(nodePos);
        this.moveTo(node, nodePos);
        node = this.moverLefth(nodePos);
        this.moveTo(node, nodePos);
        node = this.moverTop(nodePos);
        this.moveTo(node, nodePos);
        node = this.moverRigth(nodePos);
        this.moveTo(node, nodePos);
        
        return nodePos;
    }

    f(node){
        if(node.isFin()){
            return true;
        }
        var nodePos = this.addNeighBords();

        return this.f(nodePos);
    }


    isfin(point){
        return this.map[point.x][point.y].c == '$';
    }
    
    profundidade(posicion){
        if(this.isfin(posicion)){
            return true;
        }
        var isFin = false;
        
        var p = posicion.moverTop();
        if(!isFin && this.canMove(p)){
            isFin = this.moveTo(p);
        }
        p = posicion.moverRigth();
        if(!isFin && this.canMove(p)){
            isFin = this.moveTo(p);
        }
        p = posicion.moverLefth();
        if(!isFin && this.canMove(p)){
            isFin = this.moveTo(p);
        }
        p = posicion.moverBott();
        if(!isFin && this.canMove(p)){
            isFin = this.moveTo(p);
        }
        return isFin;
    }
}

    
</script>